body {
    background-color: black;
    color: white;
}

.box {
    border: solid 1px white;
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px;
}


.form {
    text-align: center;
}

.shorturl {
    text-align: center;
    margin: auto;
    margin: 2px solid;
}

.input-t{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

.input-t:focus{
    border-color:dodgerblue;
    box-shadow:0 0 8px 0 dodgerblue;
}

input[type="button"] {
    background-color: black;
    border: 2px solid white;
    padding:10px 25px;
    font-weight: bold;
    font-size:13px;
    position:relative;
    color:white;
    border-radius: 8px;
    box-shadow: 3px 3px;
}
input[type="button"]::after {
    content: '';
    position: absolute;
    background-color: white;
    top: 8px;
    left: 8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
}
input[type="button"]:hover,input[type="button"]:active {
    color: black;
    background-color: white;
    transition: all 0.3s ease;
}
input[type="button"]:hover::after,input[type="button"]:hover:active {
    background-color: black;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
}

.alert > p {
    margin-bottom: 0;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.footer {
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

.title {
    text-align: center;
}


button {
    background-color: black;
    border: 2px solid white;
    padding:10px 25px;
    font-weight: bold;
    font-size:13px;
    position:relative;
    color:white;
    border-radius: 8px;
    box-shadow: 3px 3px;
}
button::after {
    content: '';
    position: absolute;
    background-color: white;
    top: 8px;
    left: 8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
}
button:hover,button:active {
    color: black;
    background-color: white;
    transition: all 0.3s ease;
}
button:hover::after,button:hover:active {
    background-color: black;
    border: 2px solid white;
    transition: all 0.3s ease;
}