{{ define "_footer.html" }}
<!-- FOOTER -->
<footer class="bottom-0 inset-x-0 fixed p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">made with ❤️ by <a href="https://github.com/batt0s" class="hover:underline">Kerem Üllenoğlu</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
        <a href="https://github.com/batt0s/goshort#goshort" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="https://github.com/batt0s/goshort" class="mr-4 hover:underline md:mr-6 ">See Code on Github</a>
        </li>
        <li>
        <a href="/privacy" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
        <a href="https://github.com/batt0s/goshort/blob/master/LICENSE" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
    </ul>
</footer>
<!-- END -->  

<script src="/static/js/script.js"></script>
</body>
</html>
{{ end }}