<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>API Documents</h1>
    <p style="font-size: small;">You can use the API in your apps freely.</p>
    <br>
    <div class="box">
        <h3>/shorten</h3>
        <p>POST</p> 
        <code>{{ .Host }}/api/latest/shorten</code>
        <p>Parameters : </p>
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>url</td>
                <td>string</td>
                <td>The URL you want to shorten.</td>
            </tr>
        </table>
        <div>
            <h4>Examples : </h4>
            <p>Curl</p>
            <pre class="prettyprint">
curl -X POST 'http://{{ .Host }}/api/latest/shorten' -H 'Content-Type: application/json' -d '{"url":"URL to short"}' 
            </pre>
            <p>Pyhton</p>
            <pre class="prettyprint lang-py">
import requests
url = "http://{{ .Host }}/api/latest/shorten"
res = request.post(url, json={'url':'URL to short'})
print(res.text)
            </pre>
            <p>Example response </p>
            <pre class="prettyprint">
Content-Type: application/json
{
    "URL": "localhost:8080/s/ShortURL"
}
            </pre>
        </div>
    </div>
    <div class="box">
        <h3>/customShorten</h3>
        <p>POST</p> 
        <code>{{ .Host }}/api/latest/customShorten</code>
        <p>Parameters : </p>
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>url</td>
                <td>string</td>
                <td>The URL you want to shorten.</td>
            </tr>
            <tr>
                <td>custom</td>
                <td>string</td>
                <td>The custom short URL.</td>
            </tr>
        </table>
        <div>
            <h4>Examples : </h4>
            <p>Curl</p>
            <pre class="prettyprint">
curl -X POST 'http://{{ .Host }}/api/latest/customShorten' -H 'Content-Type: application/json' -d '{"url":"URL to short","custom":"Custom Short URL"}'             </pre>
            <p>Pyhton</p>
            <pre class="prettyprint lang-py">
import requests
url = "http://{{ .Host }}/api/latest/customShorten"
res = request.post(url, json={
    'url':'URL to short',
    'custom':'Custom short URl'
})
print(res.text)
            </pre>
            <p>Example response </p>
            <pre class="prettyprint">
Content-Type: application/json
{
    "URL": "localhost:8080/s/CustomShortURL"
}
            </pre>
        </div>
    </div>
    <div class="box">
        <h3>getOrigin</h3>
        <p>POST</p> 
        <code>{{ .Host }}/api/latest/getOrigin</code>
        <p>Parameters</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>url</td>
                <td>string</td>
                <td>The short url to get the original.</td>
            </tr>
        </table>
        <div>
            <h4>Examples : </h4>
            <p>Curl</p>
            <pre class="prettyprint">
curl -X POST 'http://{{ .Host }}/api/latest/getOrigin' -H 'Content-Type: application/json' -d '{"url":"ShortURL"}' 
            </pre>
            <p>Pyhton</p>
            <pre class="prettyprint lang-py">
import requests
url = "http://{{ .Host }}/api/latest/shorten"
res = request.post(url, json={'url':'ShortURL'})
print(res.text)
            </pre>
            <p>Example response </p>
            <pre class="prettyprint">
Content-Type: application/json
{
    "URL": "OriginalURL"
}
            </pre>
        </div>
    </div>
    <p style="font-size: small;">*Send all parameters as JSON</p>
    <br>

    <div class="footer">
        <p>Copyright (c) 2022 Kerem Üllenoğlu (<a href="https://github.com/batt0s">Battos</a>).</p>
        <p><a href="https://github.com/batt0s/goshort">View code on GitHub</a>. <a href="/api/latest/docs">Use API</a>.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</body>
</html>
